Hmk4-Q3_cache/*
Hmk4-Q3_files/*
Hmk4-Q3.pdf
.Rhistory
*.csv
lea-FinalReportGraphs.pdf
lea-FinalReportGraphs_cache/
lea-FinalReportGraphs_files/
EDAV-FinalProject.Rproj
Final_Report_Draft_v1_cache/
Final_Report_Draft_v1_files/
lea-Final_Report_Draft_v1.Rmd
lea-Final_Report_Draft_v1.pdf
lea-Final_Report_Draft_v1_cache/
lea-Final_Report_Draft_v1_files/
FinalReport_cache/
FinalReport_files/
